*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}
.container{
  background-color: #ccc;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
}
.card{
  margin: auto;
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1000px;
  text-align: center;
}
.card .front, .card .back{
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
}
.card .front{
  transform: rotateY(0);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.card .back{
  transform: rotateY(180deg);
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.card:hover .front{
  transform: rotateY(180deg);
}
.card:hover .back{
  transform: rotateY(360deg);
}

.card .front h2{
  font-size: 30px;
  line-height: 400px;
  letter-spacing: -2px;
  font-weight: bold;
}

.card .back h1{
  font-size: 30px;
  line-height: 2;
  letter-spacing: -1px;
  font-weight: bold;
}
.card .back main{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 15px 0;
  border-radius: 0 0 100px 0;
}
.card .back main img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  box-shadow: 0 0 0 3px #fff;
  border-radius: 50%;
}

.card .back section .pokemon{
  display: inline-block;
  width: 30%;
}

.card .back section .pokemon img{
  width: 100%;
}

.card .back section .pokemon figcaption{
  font-size: 14px;
  line-height: 1;
  color: #fff;
  transition: color .3s;
  letter-spacing: -1px;
}

@keyframes shake {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(10px);
  }
}

.card .back section .pokemon:hover img{
  animation: shake .3s alternate infinite;
}